;
; vi:set nowrap ts=4:
;

nchnls = <%= self.conf.speakers.size %>

  ;
  ; initialization of reverb global variables
  ;
<%= self.reverb_initialization %>

	;-------------------------------------------
	;	    ROOM INSTRUMENTS
	;-------------------------------------------

	;
	; 
  instr <%= self.instrs %>

  ifirst	init	<%= self.instr_offset %>				      ; first instrument number
	;
	; input indexings
	;
	iaindex=p1-ifirst				      ; audio channels
	iampindex=p1-ifirst				    ; amplitude controls
	;ixindex=iampindex+gixposoff		; x position controls
	;iyindex=iampindex+giyposoff		; y position controls
	;
	; p4	 p5
	;atten attnrev
	;
	idur  = p3
	iattadir = ampdb(p4)	    		; attenuazione di ampiezza [0]
 	iattarev = ampdb(p5)			    ; attenuazione riverbero [-30]
  iattaroom = ampdb(p6)         ; attenuazione riflessi stanza [-6/-12]
	;iroom = giroomfunc				    ; table room def (set by engines)
	;
	; audio input
	;
  asend	zar	iaindex					    ; signal
  kamp	zkr	iampindex				    ; amplitude envelope

  asig	=		asend*iattadir*kamp	;
  asend	=		0
	zacl	iaindex,iaindex		      ; clear input

  kx		= 		p7    			    	; position is fixed on gravel
  ky		=     p8    				    ; position is fixed on gravel
 
  ;
  ;   OUTER ROOM GEOMETRY (<%= self.conf.room.width -%>x<%= self.conf.room.depth -%>)
  ;
<%= self.conf.room.outer_room_geometry %>
<%= self.conf.room.virtual_room_distances %>
  ;
  ; front-rear filtering
  ;
	ideltaf = sr/2 - 2000
	kfilt = sr/2 + ideltaf*ky/iyroomfront
	af0 tone asig, kfilt 
    
	asigf = (ky >= 0 ? asig : af0) 
    
  ;
  ;   INNER ROOM GEOMETRY (<%= self.conf.speakers.size -%> speakers)
  ;
<% self.conf.speakers.each do |tag, spkr| %>
<%= spkr.speaker_coordinates %>
<% end %>

  ;
  ; lateral passage emphasis
  ; (code not used because not understood :-()
  ;
	; k0 = 0
	; kk = 1
	; ienfasi = 3  ; 0= enfasi nulla, 1 = regolare
	; 
	; afilt butterbp asig, 3000, 4000
	; afilte = afilt*ienfasi
	; 
	; kabsy  = abs(ky)
	; kafilt = (kabsy > 1 ? k0 : kk-kabsy)
	; kbal   = (kx<0 ? k0 : kk)
	; kampl = kafilt*(1-kbal)
	; kampr = kafilt*kbal
	; al = afilte*kampl     
	; ar = afilte*kampr
  ;
  ; geometric distances of source and it's reflections from each loudspeaker
  ; 
  ; for each speaker calculate:
  ;
  ; - distance of direct sound from speaker
  ; - delay of direct sound from speaker
  ; - amplitude attenuation due to distance (1/d)
  ; - final attenuated signal
  ;
  ;    DIRECT SIGNAL DISTANCE CALCULATION
  ;
	      adummy   delayr   1                        ; Delay line
<% self.conf.speakers.each do |tag, spkr| %>
<%= spkr.signal_geometry %>
<% end %>
        delayw   asigf                             ; filtered when coming from the back

  ; 
  ; for each speaker calculate:
  ; - for each wall:
  ;   - calculate virtual position of reflection
  ;   - distance of reflection from speaker
  ;   - delay of reflection from speaker
  ;   - amplitude attenuation due to distance (1/d)
  ;
  ;    REFLECTED SIGNAL DISTANCE CALCULATION
  ;
  ; walls are numbered clockwise starting from the one in front
  ; of the listener, as in:
  ;
  ;             M1        
  ;      +-------+-------+
  ;      |       |       |
  ;      |       |       |
  ;  M4  +-------+-------|  M2
  ;      |       | 0,0   |
  ;      |       |       |
  ;      +-------+-------+
  ;             M3
  ;
          adel2  delayr   1          ; reflected paths

<% self.conf.speakers.each do |tag, spkr| %>
<%= spkr.reflection_geometry(self.conf.room.walls.values) %>
<% end %>

	       delayw   asig*iattaroom    ; unfiltered signal goes into reflections 

<%= self.output_stage %>

<%= self.reverb_send %>

	endin

  ;
  ; REVERBERATION STAGE
  ;
	instr 500
	irevt = p4
	idrevt = p5
 	iatf=0.92	  	; acute frequency attenuation
	
<%= self.reverb_receive %>

<%= self.reverb_output %>
        
<%= self.reverb_clear %>
     
	endin
